body{
    border: solid 8px black;
    background-color: #8E41D5;
    background-image: url('dark_wood.png')
}

p{
    font-weight: bold;
    color: white;
    font-family: "Arial";
    background-color: #8E41D5;
}

h3{
    color: #FFBC00;
    font-size: 40px;
    font-family: "Passion One"
    margin-bottom: 0px;
    background-color: #8E41D5;
    text-decoration: underline;

}

li{
    background-color: #8E41D5;
}
#Header{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
    text-transform: capitalize;


    
}

#Header h1{
    font-size: 60px; 
    font-family: "Passion One";
    color: #FFBC25;
    font-weight: bold;
    background-color: #8E41D5;
    text-shadow: 3px 2px red;
    
}

#LeftNav{
    float: left;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    padding-bottom: 8px;
    background-color: #8E41D5;
    
    
}

#LeftNav img{
    background-color: #8E41D5;
}

#LeftNav ul{
    list-style-type: none;
    padding-left: 0px;
    background-color: #8E41D5;
    
    
}

#LeftNav h3{
    background-color: #8E41D5;
}

#Content{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px black;
    text-align: center;
    padding: 15px;
    background-color: #8E41D5;
  
}

#Footer{
    border: solid 8px black;
    text-align: center;
    background-color: #8E41D5;
}

#Footer ul{
    padding-left: 0px;
    list-style-type: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}
a{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
img{
    opacity: 0.5;
}